body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px;
}

p {
    text-align: justify;
}

p.attribution {
    text-align: center;
    font-size: 70%;
}

div.main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

div.center {
    text-align: center;
}

div.rainbow {
    text-align: center;
    cursor: pointer;
}

div.rgb {
    font-size: 60%;
    text-align: center;
    opacity: 0.6;
}

div.styleSwitch {
    font-size: 60%;
    text-align: center;
    opacity: 0.6;
    cursor: pointer;
}

