span.center {
    display: block;
    text-align: center;
}

span.title {
    font-weight: bold;
    font-size: 70%;
}

span.tooltip {
    border-bottom: 1px dotted;
}

span.subscript {
    font-style: italic;
    font-size: 70%;
}

span.superscript {
    font-style: italic;
    font-size: 70%;
    vertical-align: top;
}

h1, h2, h3 {
    text-align: center;
    margin: 5px;
}

hr {
    margin: 20px;
}

table.input {
    margin: auto;
}

table.result {
    border: 1px solid black;
    margin: 5px;
    padding: 1px;
}

table.centered {
    border: 1px solid black;
    margin: 5px;
    padding: 1px;
    text-align: center;
}

th {
    text-align: right;
}

td {
    min-width: 50px;
    max-width: 580px;
}

td.value {
    text-align: right;
    padding-right: 5px;
}

input {
    width: 80px;
}

select.x {
    width: 300px;
}

