body {
    background: white;
    text-align: center;
}

div {
    font-family: monospace, monospace;
}

div.screen {
    position: absolute;
    white-space: pre;
    width: 98%;
    text-align: center;
    cursor: pointer;
}

span {
    font-family: monospace, monospace;
    white-space: pre;
}

span.button {
    cursor: pointer;
}
