body {
    font-family: Helvetica, Arial, sans-serif;
}

div.center {
    font-family: monospace;
    text-align: center;
    width: 98%;
}

p.attribution {
    text-align: center;
    font-size: 70%;
}
