body {
    font-family: Helvetica, Arial, sans-serif;
}

div.center {
    text-align: center;
    width: 98%;
    position: fixed;
    top: 50%;
    transform: translate(0%, -100%);
}

div.text {
    font-size: 200%;
}

div.value {
    font-size: 60%;
    color: #A4A4A4;
}

p.attribution {
    text-align: center;
    font-size: 70%;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
